
body {
 background-image: url("../images/chapter_bg.jpg");
 background-color: #cccccc;
}
h1 {
  color: navy;
  margin-left: 20px;
}
div {  
  border: 3px solid green;  
  outline: 3px solid brown;  
  border-radius: 12px;  
  font-size: 20px;  
  font-weight: bold;  
  margin: 30px;  
  padding: 30px;  
  outline-offset: 0.5em;  
}

div#wrapperHeader {
 width:100%;
 height;200px; /* height of the background image? */
 background:url(images/header.png) repeat-x 0 0;
 text-align:center;
}

div#wrapperHeader div#header {
 width:1000px;
 height:200px;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width:; /* the width of the logo image */
 height:; /* the height of the logo image */
 margin:0 auto;
}
